mixin chatListItem(massage)
  li.chat-list-item
    .chat-item-wrap
      .chat-item-avatar
        img(src=massage.avatar alt='avatar')
      .chat-item-content-wrap
        .chat-item-info
          span.chat-item-author= massage.name
          .chat-item-time
            span= massage.time
        .chat-item-content
          .chat-item-text
            if massage.status === 'self'
              span.chat-item-text-self  Ğ’Ñ‹:
              span= massage.text
            else
              span= massage.text
          if massage.unread > 0
            .chat-item-unread
              span= massage.unread
